<?xml version="1.0"?>

<configuration>
      
  <connectionStrings>
    <!--Produccion-->
    <!--<add name="Conn" connectionString="Data Source=10.93.185.21\SQLTMERIDIAN;Initial Catalog=TM_RRHH;Integrated Security=SSPI;Persist Security Info=true;integrated security=false;User ID=sa;Password=tm3r1d1@n20;Connection TimeOut=60;" providerName="System.Data.SqlClient" />
    <add name="Conn2" connectionString="Data Source=10.93.185.21\SQLTMERIDIAN;Initial Catalog=TM_Flota;Integrated Security=SSPI;Persist Security Info=true;integrated security=false;User ID=sa;Password=tm3r1d1@n20;Connection TimeOut=60;" providerName="System.Data.SqlClient"/>-->
    <!--Test-->
    <add name="Conn" connectionString="Data Source=10.93.185.21\SQLTMERIDIAN;Initial Catalog=TM_RRHH;Integrated Security=SSPI;Persist Security Info=true;integrated security=false;User ID=sa;Password=tm3r1d1@n20;Connection TimeOut=60;" providerName="System.Data.SqlClient" />
    <add name="Conn2" connectionString="Data Source=10.93.185.21\SQLTMERIDIAN;Initial Catalog=TM_Flota;Integrated Security=SSPI;Persist Security Info=true;integrated security=false;User ID=sa;Password=tm3r1d1@n20;Connection TimeOut=60;" providerName="System.Data.SqlClient"/>

    <add name="ConnFEPE" connectionString="Data Source=10.93.185.21\SQLTMERIDIAN;Initial Catalog=FEPE;Integrated Security=SSPI;Persist Security Info=true;integrated security=false;User ID=sa;Password=tm3r1d1@n20;Connection TimeOut=60;" providerName="System.Data.SqlClient"/>
    <add name="ConnSeguridad" connectionString="Data Source=10.93.185.21\SQLTMERIDIAN;Initial Catalog=TM_Seguridad;Integrated Security=SSPI;Persist Security Info=true;integrated security=false;User ID=sa;Password=tm3r1d1@n20;Connection TimeOut=60;" providerName="System.Data.SqlClient" />
    
    <add name="ConnAntares" connectionString="Data Source=10.93.1.214;Initial Catalog=ANTARES;Integrated Security=SSPI;Persist Security Info=true;integrated security=false;User ID=c0n6x10nm6r1d1@n;Password=m6r1d1@nl1m@;Connection TimeOut=60;" providerName="System.Data.SqlClient" />
    <add name="ConnTransportes" connectionString="Data Source=10.93.1.214;Initial Catalog=TRANSPORTES;Integrated Security=SSPI;Persist Security Info=true;integrated security=false;User ID=c0n6x10nm6r1d1@n;Password=m6r1d1@nl1m@;Connection TimeOut=60;" providerName="System.Data.SqlClient" />
   
    <add name="ConnContrans" connectionString="Data Source=10.93.5.127\sidet;Initial Catalog=Contrans_Oper;Integrated Security=SSPI;Persist Security Info=true;integrated security=false;User ID=sa;Password=p1t6c@ntr0pus;Connection TimeOut=60;"/>
     
    <!--<add name="ConnAntares" connectionString="Data Source=10.93.1.203;Initial Catalog=ANTARES;Integrated Security=SSPI;Persist Security Info=true;integrated security=false;User ID=wbapptm;Password=qefH1-ScagD-m6wZx-YjKk-QthUD;Connection TimeOut=60;" providerName="System.Data.SqlClient" />-->
    <add name="ConnTransportes_2" connectionString="Data Source=10.93.1.203;Initial Catalog=TRANSPORTES;Integrated Security=SSPI;Persist Security Info=true;integrated security=false;User ID=wbapptm;Password=qefH1-ScagD-m6wZx-YjKk-QthUD;Connection TimeOut=60;" providerName="System.Data.SqlClient" />

    <!--Complementos-->
    <add name="operaciones" connectionString="Data Source=10.93.185.21\SQLTMERIDIAN;Initial Catalog=TM_Operaciones;Integrated Security=SSPI;Persist Security Info=true;integrated security=false;User ID=sa;Password=tm3r1d1@n20;Connection TimeOut=60;" providerName="System.Data.SqlClient"/>
    <add name="Excel03ConString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source={0};                          Extended Properties='Excel 8.0;HDR={1}'"/>
    <add name="Excel07ConString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0};                          Extended Properties='Excel 8.0;HDR={1}'"/>
  </connectionStrings>
  
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime maxRequestLength="80480" targetFramework="4.5.2" />
    <globalization uiCulture="es-PE" culture="es-PE"/>
    <authentication mode="Forms">
      <forms name=".ASPXAUTHPORTAL" loginUrl="~/login.aspx" timeout="2880" defaultUrl="~/default.aspx" slidingExpiration="true" protection="All" path="/"/>
    </authentication>
    <authorization>
      <deny users="?"/>
    </authorization>
  </system.web>
  <appSettings>
    <add key="folderDescansos" value="~/descansos"/>
    <add key="folderDocumentos" value="~/Documentos"/>
    <add key="folderDocumentos2" value="~/personal_documento"/>
    <add key="correoAprobacionVacaciones" value="rodrigo.rojas@tmeridian.com.pe"/>
    <!--<add key="correoAprobacionVacaciones" value="rodrigo.rojas@tmeridian.com.pe;pablo.zacarias@tmeridian.com.pe;jorge.chavez@tmeridian.com.pe;javier.espinoza@tmeridian.com.pe;vilma.paz@tmeridian.com.pe"/>-->
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <add key="FolderPath" value="~/xls/"/>
    <add key="InventarioPath" value="~/inv/"/>
    <add key="PathFiles" value="\\10.93.5.37\TM Compartida\Combustible\CONDUCTORES\"/>
    <add key="CorreosAprobacion" value="finanzas@tmeridian.com.pe;rrhh@tmeridian.com.pe"/>
    <add key="VacacionesConductores" value="315;320"/>
    <add key="VacacionesAdministrativos" value="388;165"/>
  </appSettings>
  <location path="App_Themes/Homer">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="imagenes">
    <system.web>      
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Modulos/TMS">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>

  <system.web>
    <customErrors defaultRedirect="GenericError.html"
                  mode="RemoteOnly">      
      <error statusCode="500"
             redirect="InternalError.html"/>
    </customErrors>
  </system.web>
  <system.serviceModel>
    <bindings>
        <basicHttpBinding>
            <binding name="TransmeridianSoap" />
            <binding name="apiSoap">
                <security mode="Transport" />
            </binding>
            <binding name="apiSoap1" />
        </basicHttpBinding>
        <customBinding>
            <binding name="TransmeridianSoap12">
                <textMessageEncoding messageVersion="Soap12" />
                <httpTransport />
            </binding>
            <binding name="apiSoap12">
                <textMessageEncoding messageVersion="Soap12" />
                <httpsTransport />
            </binding>
        </customBinding>
    </bindings>
    <client>
        <endpoint address="http://10.93.185.22/WSTM/WsTMGrupo1.asmx"
            binding="basicHttpBinding" bindingConfiguration="TransmeridianSoap"
            contract="WSSAP.TransmeridianSoap" name="TransmeridianSoap" />
        <endpoint address="http://10.93.185.22/WSTM/WsTMGrupo1.asmx"
            binding="customBinding" bindingConfiguration="TransmeridianSoap12"
            contract="WSSAP.TransmeridianSoap" name="TransmeridianSoap12" />
        <endpoint address="https://www.meridian.com.pe/recursoshumanos/servicios/api.asmx"
            binding="basicHttpBinding" bindingConfiguration="apiSoap"
            contract="ServiceReferenceRRHH.apiSoap" name="apiSoap" />
        <!--<endpoint address="https://www.meridian.com.pe/recursoshumanos/servicios/api.asmx"
            binding="customBinding" bindingConfiguration="apiSoap12" contract="ServiceReferenceRRHH.apiSoap"
            name="apiSoap12" />-->
    </client>
  </system.serviceModel>
</configuration>